<div class="col-md-9 contactWrapper fade-in">
    <div id="formWrapper">
        <p id="contactGreeting"> I would love to hear from you.</p>
        <input type="text" class="underline half" placeholder="First Name" ng-model="fName">
        <input type="text" class="underline half" placeholder="Last Name" ng-model="lName"><br>
        <input type="text" class="underline full" placeholder="Company Name (optional)"><br>
        <input type="email" class="underline full" placeholder="Email Address"><br>
        <textarea placeholder="Your message here..." class="full" ></textarea>
        <div id="sendButton"><i id="sendIcon" class="fa fa-paper-plane-o" aria-hidden="true"></i></div>
    </div>
</div>