<div class="col-md-9 homeWrapper">
    <p id="hi" class="fade-in">Hi,</p>
    <p id="homeText" class="fade-in">
        My name is Michael Montgomery and I am a Central Florida-based full-stack web developer. I love software
        development and all things technology.  I am an avid cyclist and runner. Check out my
        <a href="#/portfolio" class="pink-link">portfolio</a> to see recent projects or check out some of my code on <a class="pink-link" href="https://github.com/michael-montgomery">Github</a>.
    </p>
</div>